body {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
}

/* Titles */
h1 {
  font-family: "Dancing Script", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5em;
}

h2 {
  font-family: "Dancing Script", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5em;
}

/* Other caracs */
.vw80 {
  width: 80vw;
}

.vw20 {
  width: 20vw;
}

.big {
  font-size: 50px;
}

.font-condensed {
  font-family: "Fira Sans Condensed", sans-serif;
}

.font-script {
  font-family: "Dancing Script", serif;
}

.font-size36 {
  font-size: 36px;
}

.font-weight200 {
  font-weight: 200;
}

.bg-faintblue {
  background-color: #f2f5fb;
}

/*  Colors  */
.dark-blue {
  color: #1e2f50;
}

.dark-fuschia {
  color: #b7044a;
}

.light-blue {
  color: #3b7ebb;
}
